%table.striped.highlight
  %tr
    %th Reference No.
    %th Name
    %th Category
    %th Price
    %th Actions
  %tr
    %td= @product.reference
    %td= @product.name
    %td= @product.category
    %td= @product.price
    %td
      %a.waves-effect.waves-light.btn{href: "/products/#{@product.id}/edit"}
        %i.material-icons.left edit
        Edit
      %a.waves-effect.waves-light.btn.red{href: "/products/#{@product.id}/destroy"}
        %i.material-icons.left close
        Delete